<mat-card class="block">
    <mat-card-header>
        <mat-card-title class="block-title">{{block.title}}</mat-card-title>
        <button class="remove-button" (click)="removeBlock()" [disabled]="executingBlocks">Remove</button>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="block.blockId === 'loaddata'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <mat-select [(ngModel)]="block.parameters[0].value" style="width: fit-content;" panelWidth="" [disabled]="executingBlocks">
                @for (dataset of datasetInfo; track dataset) {
                    <mat-option [value]="dataset.key">{{dataset.text}}</mat-option>
                }
            </mat-select>
        </ng-template>
        <ng-template #elseBlock>
            <ul class="no-bullets">
                <li class="left-right-container" *ngFor="let parameter of block.parameters">
                    {{parameter.text}}
                    <input class="parameter-input" [(ngModel)]="parameter.value" placeholder="0" [attr.disabled]="executingBlocks ? executingBlocks : undefined">
                </li>
            </ul>
        </ng-template>
    </mat-card-content>
</mat-card>