<mat-card class="block">
    <mat-card-header>
        <mat-card-title class="block-title">{{block.title}}</mat-card-title>
        <button class="remove-button" (click)="removeBlock()" [disabled]="executingBlocks">Remove</button>
    </mat-card-header>
    <mat-card-content>
        <ul class="no-bullets">
            <li class="left-right-container" *ngFor="let parameter of block.parameters">
                {{parameter.text}}
                <div *ngIf="parameter.datasets; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <mat-select [(ngModel)]="parameter.value" style="width: fit-content;" panelWidth="">
                        @for (dataset of parameter.datasets; track dataset) {
                            <mat-option [value]="dataset.key">{{dataset.text}}</mat-option>
                        }
                    </mat-select>
                </ng-template>
                <ng-template #elseBlock>
                    <input class="parameter-input" [(ngModel)]="parameter.value" placeholder="0" [attr.disabled]="executingBlocks ? executingBlocks : undefined">
                </ng-template>
            </li>
        </ul>
    </mat-card-content>
</mat-card>