<mat-card style="height: calc(95vh - 20px)">
    <mat-card-header>
        <mat-card-title>Output</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="no-bullets">
            <li *ngFor="let outputItem of outputList">
                <div *ngIf="outputItem.text">
                    {{outputItem.text}}
                </div>
                <img mat-card-image *ngIf="outputItem.img" [src]="outputItem.img" [alt]="outputItem.alttext"/>
            </li>
        </ul>
    </mat-card-content>
</mat-card>