<mat-card style="height: calc(85vh - 20px)">
    <mat-card-header>
        <mat-card-title class="component-title">Canvas</mat-card-title>

        <div *ngIf="executingBlocks; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <mat-spinner class="run-spinner" [diameter]="32"></mat-spinner>
        </ng-template>
        <ng-template #elseBlock>
            <button class="run-button" (click)='executeBlocks()' [disabled]="blockList.length === 0">Run</button>
        </ng-template>
    </mat-card-header>
    <mat-card-content>
        <ul class="no-bullets">
            <li *ngFor="let block of blockList">
              <app-code-block [block]="block"></app-code-block>
            </li>
        </ul>
    </mat-card-content>
</mat-card>