ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.run-button {
    margin-left: auto; 
    margin-right: 0;
    display: inline-flex;
    align-items: center;
}