<mat-card style="height: calc(95vh - 20px)">
    <mat-card-header>
        <mat-card-title>Block Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="container">
            Load Data
            <button class="add-button" id="load-data" (click)='addBlock("loaddata")'>Add</button>
        </p>
        <p class="container">
            Basic Filtering
            <button class="add-button" id="basic-filtering" (click)='addBlock("basicfiltering")'>Add</button>
        </p>
        <p class="container">
            Quality Control Plots
            <button class="add-button" id="qc-plots" (click)='addBlock("qcplots")'>Add</button>
        </p>
        <p class="container">
            Quality Control Filtering
            <button class="add-button" id="qc-filtering" (click)='addBlock("qcfiltering")'>Add</button>
        </p>
        <p class="container">
            Identify Highly Variable Genes
            <button class="add-button" id="variable-genes" (click)='addBlock("variablegenes")'>Add</button>
        </p>
    </mat-card-content>
</mat-card>