.left-right-container {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}

.add-button {
    font-size: 14px;
    height: 18px;
    display: inline-flex;
    align-items: center;
}
