.left-right-container {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-icon {
    vertical-align: middle;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
}

.help-icon:hover {
    vertical-align: middle;
    font-size: 24px;
    color: black;
}

.add-button {
    display: inline-flex;
    align-items: center;
}

mat-card {
    overflow: scroll;
}