<mat-card style="height: calc(85vh - 20px)">
    <mat-card-header>
        <mat-card-title>Block Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="no-bullets">
            <li *ngFor="let block of blockLibrary">
                <p class="left-right-container">
                    {{block.title}}
                    <button class="add-button" [id]="block.blockId" (click)="addBlock(block.blockId)" [disabled]="block.disabled">Add</button>
                </p>
            </li>
        </ul>
    </mat-card-content>
</mat-card>