<mat-card style="height: calc(85vh - 20px)">
    <mat-card-header>
        <mat-card-title>Block Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p *ngFor="let block of blockLibrary" class="left-right-container">
            {{block.title}}
            <button mat-flat-button class="add-button" [id]="block.blockId" (click)="addBlock(block.blockId)" [disabled]="block.disabled" [matTooltip]="getTooltipMessage()" [matTooltipDisabled]="!block.disabled">Add</button>
        </p>
    </mat-card-content>
</mat-card>
