<div class="vertical-container">
    <div class="horizontal-container" style="height: calc(95vh - 20px)">
        <div style="width: 30%">
            <app-block-library></app-block-library>
        </div>
        <div style="width: 30%">
            <mat-card><app-canvas></app-canvas></mat-card>
        </div>
        <div style="width: 30%">
            <mat-card><app-output-display></app-output-display></mat-card>
        </div>
    </div>
    <div style="height: 20px; text-align: center">Developed by Otto Lab</div>
</div>