<div class="vertical-container">
    <div id="title">
        <h1>SCAMPI</h1>
        <small>Single Cell Analysis Model for People Interaction</small>
    </div>
    <div class="horizontal-container" style="height: calc(88vh - 20px)">
        <div style="width: 24%">
            <app-block-library></app-block-library>
        </div>
        <div style="width: 24%">
            <app-canvas></app-canvas>
        </div>
        <div style="width: 49%">
            <app-output-display></app-output-display>
        </div>
    </div>
    <div style="height: 20px; text-align: center">
        Developed by the <a href="https://www.gla.ac.uk/schools/infectionimmunity/staff/thomasdanotto/">Otto Lab</a>
    </div>
</div>