.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80%;
    align-items: stretch
}

div#title {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    h1 {
        margin-bottom: 0;
    }
}